Source: himpy
Priority: optional
Section: net
Maintainer: vbe@exoscale.ch
Build-Depends: debhelper (>= 9),
               dh-systemd,
               lsb-release,
               cabal-install,
               ghc,
               libsnmp-dev

Package: himpy
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends},
         adduser
Description: multithreaded SNMP poller for riemann
